.header3{
    position: relative;  
    background-color: #0C8CE9;
    bottom: 1.2rem;

}
.header3 P{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
    top: 0.5rem;
}




.ClientAttendance{
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 15rem;
}

.ClientAttendance .right-side {
    width: 100%;
}

.ClientAttendance .right-side h2 {
    margin-left: 22rem;
    margin-top: 1rem;
}

.ClientAttendance .right-side .table1{
    width:80%;
    margin-left: 7rem;    
    border-spacing: 4rem;
    border-collapse: separate;
    cursor: none;
    font-weight: 500;
}



.ClientAttendance .right-side .table1 tr td:nth-child(1){
   
    font-size: 1rem;
    border-style: solid;
	box-shadow: 1px 1px 0px 1px #888888;
    border-width: 0.1rem;
    border-radius: 0.75rem;
    width: 40%;
  
}


.ClientAttendance .right-side .table1 tr td:nth-child(1) p:nth-child(1){
    padding-left: 6rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(1) p:nth-child(2){
    padding-left: 10rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2){
  
    font-size: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    width: 40%;
    border-radius: 0.75rem;
    box-shadow: 1px 1px 0px 1px #888888;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2) p:nth-child(1){
    padding-left: 8.5rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2) p:nth-child(2){
    padding-left: 10rem;
}

.ClientAttendance .right-side .table2{
    margin-left: 11rem;
}

.ClientAttendance .right-side .table2 tr td:nth-child(1){
    font-size: 1rem;
    padding-right: 5rem;
}
    
.ClientAttendance .right-side .table2 tr td input{
    font-size: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 1rem;
    padding:0.2rem;
    padding-left: 1rem;
 
}

.ClientAttendance .right-side .table2 tr td button{

    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color:#0C8CE9;
    border: none;
    border-radius: 0.25rem;
    margin-left: 3rem;
}

.ClientAttendance .right-side .table2 tr td button:hover{
    background-color:#0a73be ;
}

.ClientAttendance .right-side .table2 tr td .search .link{
    color: #ffffff;
    text-decoration: none;
}

.ClientAttendance .right-side .ptag{
    font-size: 1.2rem;
    margin-left: 27rem;
    margin-top: 3rem;
   
}

.ClientAttendance .right-side .table3 {
    width: 75%;
    font-size:  0.93rem;
    height: 30%;
    margin-top: 3rem;
    border-collapse: collapse;
    margin-left: 9rem;
   
    
    

}

.ClientAttendance .right-side .table3 tr {

    overflow: hidden;
    white-space: nowrap;

}

.ClientAttendance .right-side .table3 tr th{
    background-color:#90d1ff;
    padding-left: 6rem;
    text-align: justify;
	border-bottom: 1px solid #bebdbd;
    height: 40px;
   

}

.ClientAttendance .right-side .table3 tr td{

    background-color: #fafafa;
    padding-left: 6rem;
	border-bottom: 1px solid #bebdbd;
    text-align: justify;
    border-width: 0.1rem;
    height: 50px;
}





.ClientAttendance .delete{
    background-color:#0C8CE9;
    color: #ffffff;
    text-decoration: none;
    width: 5rem;
    height: 1.9rem;
    border: none;
    border-radius: 5px;
    
}

.ClientAttendance .right-side .table2   {
    
    margin-left: 18rem;

 
}

.ClientAttendance .right-side .table2 button  {
    
    width: 3rem;
    border: none;
 
}

.ClientAttendance .right-side .table2 button a {
  
    font-size: 0.8rem;
    text-decoration: none;
    color: #ffffff;
   
    

}

.ClientAttendance .delete{
    border: none;
    width: 5rem;
    height: 1.9rem;

}

.ClientAttendance .delete:hover{

    background-color:#0a73be ;
}