.ClientAttendance{
    width: 100%;
    display: flex;
}

.ClientAttendance .right-side {
    width: 100%;
}

.ClientAttendance .right-side h2 {
    margin-left: 24rem;
    margin-top: 3rem;
}

.ClientAttendance .right-side .table1{
    width:80%;
    margin-left: 7rem;    
    border-spacing: 4rem;
    border-collapse: separate;
}



.ClientAttendance .right-side .table1 tr td:nth-child(1){
   
    font-size: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.75rem;
    width: 40%;
  
}


.ClientAttendance .right-side .table1 tr td:nth-child(1) p:nth-child(1){
    padding-left: 6rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(1) p:nth-child(2){
    padding-left: 10rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2){
  
    font-size: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    width: 40%;
    border-radius: 0.75rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2) p:nth-child(1){
    padding-left: 8.5rem;
}

.ClientAttendance .right-side .table1 tr td:nth-child(2) p:nth-child(2){
    padding-left: 10rem;
}

.ClientAttendance .right-side .table2{
    margin-left: 11rem;
}

.ClientAttendance .right-side .table2 tr td:nth-child(1){
    font-size: 1rem;
    padding-right: 5rem;
}
    
.ClientAttendance .right-side .table2 tr td input{
    font-size: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 1rem;
    padding:0.2rem;
    padding-left: 1rem;
 
}

.ClientAttendance .right-side .table2 tr td button{

    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color:#0C8CE9;
    border: none;
    border-radius: 0.25rem;
    margin-left: 3rem;
}

.ClientAttendance .right-side .table2 tr td button:hover{
    background-color:#0a73be ;
}

.ClientAttendance .right-side .table2 tr td .search .link{
    color: #ffffff;
    text-decoration: none;
}

.ClientAttendance .right-side .ptag{
    font-size: 1.1rem;
    margin-left: 25rem;
    margin-top: 3rem;
}

.ClientAttendance .right-side .table3 {
    width: 50%;
    font-size: 1.2rem;
    height: 30%;
    margin-top: 3rem;
    margin-left: 15rem
    

}

.ClientAttendance .right-side .table3 tr {
 font-size: 1rem; 

}

.ClientAttendance .right-side .table3 tr th{
    margin-left: 5rem;
}

.ClientAttendance .right-side .table3 tr th:nth-child(1){
    padding-left: 5.5rem;
}


.ClientAttendance .right-side .table3 tr th:nth-child(2){
    padding-left: 3rem;
}

.ClientAttendance .right-side .table3 tr th:nth-child(3){
    padding-left: 4.5rem;
}

.ClientAttendance .right-side .table3 tr td{
    padding-left: 10rem;
}

.ClientAttendance .right-side .table4 {
    margin-left: 30rem;
    width: 33%;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.ClientAttendance .right-side .table4 tr td button{
    width: 8rem;
    height: 2.5rem;
    font-size: 0.9rem;
    background-color:#0C8CE9;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
}

.ClientAttendance .right-side .table4 tr td button:hover{
    background-color:#0a73be ;
}

.ClientAttendance .delete{
    background-color:#0C8CE9;
    color: #ffffff;
    text-decoration: none;
    
}

.ClientAttendance .right-side .table2   {
    
    margin-left: 18rem;

 
}

.ClientAttendance .right-side .table2 button  {
    
    width: 3rem;
    border: none;
 
}

.ClientAttendance .right-side .table2 button a {
  
    font-size: 0.8rem;
    text-decoration: none;
    color: #ffffff;
   
    

}

.ClientAttendance .delete{
    border: none;
    width: 4rem;
    height: 1.5rem;

}

.ClientAttendance .delete:hover{

    background-color:#0a73be ;
}