.header2{
    position: relative;  
    background-color: #0C8CE9;
    bottom: 1.2rem;

}
.header2 P{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
    top: 0.5rem;
}



.content{

    position: relative;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 15rem;
  
}

.content h2{

    padding-bottom: 1rem;
}


.content .container .form-row  {
   
    margin-left: 10rem;
    font-size: 1rem;


    
   
}


.content .container .form-row input {
    outline-style: none;
    width: 17rem;
    height: 1rem;
    padding: 5px;
    font-size: 0.85rem;
    border-radius: 6px;
    padding-left: 0.5rem;
    margin-top: 1rem;
    border-width: 0.1rem;
    margin-left: 5rem; 
   
 
}

.content .container .form-row input:hover {
      
     border-color: #0C8CE9;
}

.content .container .form-row .form-group3 input{
    margin-left: 7.4rem;

}

.content .container .form-row .form-group4 input{
    margin-left: 6rem;
}

.content .container .cdetails{
    margin-left: 10rem;
    font-size: 1.2rem;
    margin-top: 2.5rem;
}

  
.content .container .form-group5{
    margin-left: 10rem;
    margin-top: 2rem;
    
  
}

.content .container .form-group5 input{
    margin-left: 10rem;
    outline-style: none;
    width: 17rem;
    height: 1rem;
    padding: 5px;
    font-size: 0.85rem;
    border-radius: 6px;
    padding-left: 0.5rem;
    margin-top: 1rem;
    border-width: 0.1rem;
    margin-left: 3.8rem;  

}

.content .container .form-group5 input:hover{
    border-color: #0C8CE9;
}

.content .container .form-group6 input{
    margin-left: 5.8rem;
   
}

.content .container .form-group7 input{
    margin-left: 7.9rem;
}

.content .container .give{
 
     width: 4rem;
     height: 2.25rem;
     margin-top: 3rem;
     margin-left: 10rem;
     font-size: 0.9rem;
     background-color:#0C8CE9;
     border: none;
     color: #ffffff;
     border-radius: 0.25rem;

}

.content .container .give:hover{
    
    background-color: #0a73be ;
}

.content .container .view{
    width: 7rem;
    height: 2.25rem;
    margin-top: 3rem;
    margin-left: 10rem;
    font-size: 0.9rem;
    background-color:#0C8CE9;
    border: none;
    color: #ffffff;
    border-radius: 0.25rem;
    margin-left: 16rem;
}

.content .container .view:hover{

    background-color: #0a73be ;
}

.content .container .link1{

    text-decoration: none;
    color: #ffffff;
     
}
