.TaskAllocationPage{
    width: 100%;
    display: flex;
}

.TaskAllocationPage .right-side {
     width: 100%;
}

.TaskAllocationPage .right-side h2 {
    margin-left: 25rem;
   margin-top: 6rem;
}

.TaskAllocationPage .right-side p{
    margin-left: 28rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.TaskAllocationPage .right-side .table1 {
    width: 35%;
    margin-left: 20rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    height: 60%;
    
}

 .TaskAllocationPage .right-side .table1 tr:nth-child(1) td{
    padding-left: 0.5rem;
    padding-top: 1rem;
 }

.TaskAllocationPage .right-side .table1 tr:nth-child(2) td input{
    width: 22rem;
    height: 1.35rem;
    padding: 3px;
    font-size: 1rem;
    border-radius: 6px;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    outline-style: none;
    border-width: 0.1rem;

    
}

.TaskAllocationPage .right-side .table1 tr:nth-child(3) td{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.TaskAllocationPage .right-side .table1 tr:nth-child(4) td select{
    width: 22.9rem;
    height: 2rem;
    padding: 3px;
    font-size: 0.9rem;
    border-radius: 6px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    outline-style: none;
    border-width: 0.1%;
}

.TaskAllocationPage .right-side .table1 tr:nth-child(5) td{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.TaskAllocationPage .right-side .table1 tr:nth-child(6) td input{
    width: 22rem;
    height: 1.35rem;
    padding: 3px;
    font-size: 1rem;
    border-radius: 6px;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    outline-style: none;
    border-width: 0.1rem;
}
.TaskAllocationPage .right-side .table1 tr:nth-child(7) td button{
    width: 8.5rem;
    height: 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color:#0C8CE9;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 8rem;
    font-size: 0.95rem;
}

.TaskAllocationPage .right-side .table1 tr:nth-child(7) td button:hover{
    background-color:#0a73be ;
}
