.TaskManagementPage {
	width: 100%;
	display: flex;
	position: relative;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 10rem;
}

.TaskManagementPage .right-side {
	width: 100%;
}

.TaskManagementPage .right-side h2 {
	margin-left: 26rem;
	margin-top: 5rem;
}

.TaskManagementPage .right-side .table1 {
	width: 90%;
	margin-left: 3rem;
	border-spacing: 4rem;
	border-collapse: separate;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(1) {
	font-size: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.75rem;
	width: 30%;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(1) p:nth-child(1) {
	padding-left: 3rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(1) p:nth-child(2) {
	padding-left: 7rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(2) {
	font-size: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	width: 30%;
	border-radius: 0.75rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(2) p:nth-child(1) {
	padding-left: 4rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(2) p:nth-child(2) {
	padding-left: 7rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(3) {
	font-size: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	width: 30%;
	border-radius: 0.75rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(3) p:nth-child(1) {
	padding-left: 4rem;
}

.TaskManagementPage .right-side .table1 tr td:nth-child(3) p:nth-child(2) {
	padding-left: 7rem;
}

.TaskManagementPage .right-side .table2 {
	margin-left: 12rem;
}

.TaskManagementPage .right-side .table2 tr td:nth-child(1) {
	font-size: 1rem;
	padding-right: 5rem;
}

.TaskManagementPage .right-side .table2 tr td input {
	font-size: 1rem;
	border-radius: 0.75rem;
	width: 20rem;
	height: 1rem;
	padding: 0.2rem;
	padding-left: 1rem;
	outline-style: none;
	border-width: 0.1rem;
}

.TaskManagementPage .right-side .table2 tr td button {
	width: 5rem;
	height: 1.8rem;
	font-size: 0.8rem;
	color: #ffffff;
	background-color: #0c8ce9;
	border: none;
	border-radius: 0.25rem;
	margin-left: 3rem;
}

.TaskManagementPage .right-side .table2 tr td button:hover {
	background-color: #0a73be;
}

.TaskManagementPage .right-side .table2 tr td .search .link2 {
	color: #ffffff;
	text-decoration: none;
}

.TaskManagementPage .right-side .ptag {
	font-size: 1.1rem;
	margin-left: 25rem;
	margin-top: 4rem;
}

.TaskManagementPage .right-side .table3 {
    width: 75%;
    margin-left: 5rem;
}

.TaskManagementPage .right-side .table3 td{
	width: 55%;
	font-size: 1rem;
	height: 50%;
	margin-left: 12rem;
	margin-top: 4rem;
    /* background-color: #0a73be; */
}

.TaskManagementPage .right-side .table3 tr th {
    text-align: left;
    /* background-color: aqua; */
}

.TaskManagementPage .right-side .table3 tr:nth-child(1) th:nth-child(4) {
	text-align: right;
	width: 10;
}

.TaskManagementPage .right-side .table3 tr:nth-child(1) th:nth-child(5) {
	text-align: right;
	width: 2%;
}

.TaskManagementPage .right-side .table3 tr:nth-child(1) th:nth-child(3) {
	padding-left: 7rem;
	width: 25%;
}

.TaskManagementPage .right-side .addtask {
	width: 5rem;
	height: 2rem;
	font-size: 0.9rem;
	background-color: #0c8ce9;
	color: #ffffff;
	border: none;
	border-radius: 0.25rem;
	margin-left: 30rem;
	margin-top: 3rem;
}
.TaskManagementPage .right-side .addtask a {
	text-decoration: none;
	color: #ffffff;
}

.TaskManagementPage .right-side .addtask:hover {
	background-color: #0a73be;
}

.TaskManagementPage .right-side .table3 tr td {
	padding-left: 2.5rem;
	width: 25%;
}

.TaskManagementPage .right-side .table4 {
	margin-left: 25rem;
	width: 25%;
	font-size: 1rem;
	margin-top: 3rem;
}

.TaskManagementPage .right-side .table4 tr td button {
	width: 6rem;
	height: 2rem;
	font-size: 0.9rem;
	background-color: #0c8ce9;
	color: #ffffff;
	border: none;
	border-radius: 0.25rem;
}

.TaskManagementPage .right-side .table4 tr td button:hover {
	background-color: #0a73be;
}

.TaskManagementPage .complete {
	background-color: #0c8ce9;
	text-decoration: none;
	color: #ffffff;
	border: none;
	border-radius: 0.25rem;
	height: 1.5rem;
	margin-top: 0.25rem;
}

.TaskManagementPage .complete:hover {
	background-color: #0a73be;
}
